Source: ufwmanager
Section: utils
Priority: optional
Maintainer: Aahil Shaikh <aahils2019@gmail.com>
Build-Depends: debhelper-compat (= 13), python3-all
Standards-Version: 4.6.0
Homepage: https://github.com/The007Programmer/UFW-Manager

Package: ufwmanager
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, ufw
Description: Simple UFW manager utility
 A Python-based tool to simplify managing UFW rules from the terminal.
